.process-step {
    margin-left: 50px;

    @media screen {
        border-left: solid 2px #506aff;
    }

    .step-temperature {
        display: inline-block;
        border: solid 1px #333;
        padding: 0 4px 0 4px;
    }

    .step-duration {
        display: inline-block;
        margin-left: 150px;
    }

    .ingredients {
        margin-top: 15px;
        list-style-type: none;
    }
}