.receipe {

    .accordion {
        //margin-left: 35px;

        div.process-item {
            padding-left: 35px;
        }

        .dragging {
            background-color: #eeeeee;
        }
    }

    h2 {
        text-align: left;
    }

    .libelized {
        display: inline-block;
        width: 180px;
        font-weight: bold;
        font-size: 1.2em;
        &::after {
            content: ':',
        }
        margin-bottom: 5px;
    }

    ul.features{
        list-style-type: none;
    }

    .accordion-block {
        display: inline-block;
        width: 98%;
    }

    .handle {
        display: inline-block;
        width: 2%;
    }

    .step-title {
        position: relative;

        .step-name {
            display: inline-block;
        }

        .process-temperature {
            display: inline-block;
            position: absolute;
            left: 240px;
            i {
                margin-right: 3px;
            }
            border: solid 1px #333;
            padding: 0 4px 0 4px;
            input.form-control{
                width: 50px;
            }
        }

        .process-duration {
            display: inline-block;
            position: absolute;
            left: 400px;
            i {
                margin-right: 5px;
            }

            input.form-control{
                width: 50px;
            }
        }

        .step-delete {
            position: absolute;
            left: 560px;
            top: -5px;
        }
    }
}

.unit {
    font-style: italic;
    color: #717171;
    padding-left: 5px;
}

.badge {
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    font-size: 1.2em;
    &::after {
        content: ':',
    }
    margin-bottom: 5px;
}

.important {
    font-size: 1.3em;
    margin-bottom: 5px;
}