.editable-quantity {
    display: inline-block;

    input.form-control {
        display: inline-block;
        width: 130px;
    }

    select.form-control {
        display: inline-block;
        width: 80px;
    }
}