$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass';

@import './styles/constants.scss';
@import './styles/main.scss';
@import './styles/svg-font.scss';

.App {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3em;

  button {
    font-size: 1em;
  }
}

.btn-link {
  border: none;
  background-color: transparent;
  color: #285fff;
}

